
$texto:"rancho";
$tamano_subs:20px;
$color_text: white;



body{
    background-color: #121212;
}

.nav{
    grid-area: nav;
    justify-content: space;
    text-align: center;
    text-decoration: none;
    align-self: center;

    ul{
        display: flex;
        font-family: $texto;
        list-style: none;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 40px;
        color: $color_text;


        a{
            color: $color_text;
            text-decoration: none;


            &:hover{
                color: rgb(40, 206, 7) ;

            }
        }
    }
}

.logo{
    position: relative;
    display: flex;
    justify-self:center;
    align-self: center;
    grid-area: logo;


    img{
        width: 200px;
        height: 150px;
    }
}

.containernosotros2{
    height: 150px;

background-image: url(../imagenes/nav1.jpg);
background-size: 100%;
background-position-x: 29%;
background-position-y: 50%;


    display: grid;
    grid-template-columns: 15% 35% 50%;
    grid-template-rows: 150px;

    grid-template-areas: 
    "logo nav nav"

    ;    
}


.contentequip{
    display: grid;
    grid-template-columns: 13% 14% 14% 14% 14% 14% 13%;
    grid-template-rows: 20% 40% 30% 20%;
    gap: 10px;
}

.contentequip img{
    width:250px ;
    height:300px ;
}
.cindiimg{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
}
.edwardimg{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
}
.rosaimg{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:3;
}
.elberimg{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end:3;
}
.deboraimg{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end:3;
}

.cindi{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;

    text-align: left;
    font-size: $tamano_subs;
    color: $color_text;
    font-family: $texto;
}

.cindi{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;

    text-align: left;
    font-size: $tamano_subs;
    color: $color_text;
    font-family: $texto;
}

.edward{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;

    text-align: left;
    font-size: $tamano_subs;
    color: $color_text;
    font-family: $texto;
}
.rosa{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end:4;

    text-align: left;
    font-size:$tamano_subs;
    color: $color_text;
    font-family: $texto;
}
.elber{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:4;

    text-align: left;
    font-size: $tamano_subs;
    color: $color_text;
    font-family: $texto;
}
.debora{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end:4;

    text-align: left;
    font-size: $tamano_subs;
    color: $color_text;
    font-family: $texto;
}

.nosotroscont{
    padding: 15px;
    justify-self: center;

    text-align: center;
    font-size: 25px;
    color: $color_text;
    font-family: $texto;

    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start:1 ;
    grid-row-end: 2;
}